@model IEnumerable<WorkoutDiary.Models.Workout>
@using Microsoft.AspNet.Identity
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">


@{
    ViewBag.Title = "Index";

    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div style="margin-left:auto; text-align:center">
    <h1 class="align-middle">@User.Identity.GetUserName()</h1>
    
</div>
<h2>All workouts</h2>
<div style="width:50%">
    <table id="workouts" class="table table-bordered table-hover table-striped">
        <thead>
            <tr>
                @*<th>Username</th>*@
                <th>Workout</th>
                <th>Date</th>
                @*<th>Edit</th>
                    <th>Delete</th>*@
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>


@*<table id="gymworkouts" class="table table-bordered table-hover table-striped">
        <thead>
            <tr>
                <th>Workout</th>
                <th>Date</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>*@

<p>
    @Html.ActionLink("Create New", "Create", "Workouts", null, new { @class = "btn btn-primary" })
</p>
@section scripts{
    <script>

        var editor

        $(document).ready(function () {

            $("#workouts").DataTable({ 
                ajax: {
                    url: "/api/workouts",
                    dataSrc: "",
                },
                columns: [
                    //{
                    //    data: "User.UserName"
                    //},
                    {
                        data: "WorkoutType.Name",
                        width: "55%"
                    },
                    {
                        data: "DateInString"
                    },
                    //{
                    //    data: "Id",
                    //    render: function (data, type, workout) {
                    //        return "<a href='/workouts/edit/" + data + "'>Edit</a>";
                    //    }
                    //    //render: function (data) {
                    //    //    return "<button class='btn-link'" + data + ">Edit</button>";
                    //    //}
                    //},
                    //{
                    //    data: "Id",
                    //    render: function (data) {
                    //        return "<button class='btn-link js-delete' data-workout-id=" + data + ">Delete</button>";
                    //    }
                    //},
                    {
                        data: "Id",
                        className: "center",
                        // defaultContent: '<a href="" class="editor_edit">Edit</a> / <a href="" class="editor_remove">Delete</a>',
                        render: function (data, type, workout) {
                            return "<a href='/workouts/edit/" + data + "'><i class='far fa-edit'></i></a> <button class='btn-link js-delete' data-workout-id=" + data + '><i class="far fa-trash-alt"></i></button>';
                        },
                        width: "10%"
                        
                    }
                ]
            });

            $("#workouts").on("click", ".js-delete", function () {
                var button = $(this);

                if (confirm("Are sure do you want to delete this workout permanently?")) {
                    $.ajax({
                        url: "/api/workouts/" + button.attr("data-workout-id"),
                        method: "DELETE",
                        success: function () {
                            button.parents("tr").remove();
                        }
                    });
                }

                //bootbox.confirm("ArUsure??????", function (result) {
                //    if (result) {
                //        $.ajax({
                //            url: "/api/workouts/" + button.attr("data-workout-id"),
                //            method: "DELETE",
                //            success: function () {
                //                table.row(button.parents("tr")).remove().draw()
                //            }
                //        });
                //    }
                //});

                //bootbox.confirm("Are sure do you want to delete this workout permanently?", function (result) {
                //    if (result) {
                //        $.ajax({
                //            url: "/api/workouts/" + button.attr("data-workout-id"),
                //            method: "DELETE",
                //            success: function () {
                //                table.row(button.parents("tr")).remove().draw()
                //            }
                //        });
                //    }
                //});



            });

            //$("#gymworkouts").DataTable({
            //    ajax: {
            //        url: "/api/workouts/1",
            //        dataSrc: "",
            //    },
            //    columns: [
            //        //{
            //        //    data: "User.UserName"
            //        //},
            //        {
            //            data: "WorkoutType.Name",
            //        },
            //        {
            //            data: "DateInString"
            //        },
            //        {
            //            data: "Id",
            //            render: function (data, type, workout) {
            //                return "<a href='/workouts/edit/" + data + "'>Edit</a>";
            //            }
            //            //render: function (data) {
            //            //    return "<button class='btn-link'" + data + ">Edit</button>";
            //            //}
            //        },
            //        {
            //            data: "Id",
            //            render: function (data) {
            //                return "<button class='btn-link js-delete' data-gymworkout-id=" + data + ">Delete</button>";
            //            }
            //        }
            //    ]
            //});

            //$("#gymworkouts").on("click", ".js-delete", function () {
            //    var button = $(this);

            //    if (confirm("Are sure do you want to delete this workout permanently?")) {
            //        $.ajax({
            //            url: "/api/workouts/" + button.attr("data-gymworkout-id"),
            //            method: "DELETE",
            //            success: function () {
            //                button.parents("tr").remove();
            //            }
            //        });
            //    }
            //});

        });


    </script>
}
