@model IEnumerable<WorkoutDiary.Models.Workout>
@using Microsoft.AspNet.Identity
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.0.1/fullcalendar.min.css">


@{
    ViewBag.Title = "Index";

    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div style="margin-left:auto; text-align:center">
    <h1 class="align-middle">@User.Identity.GetUserName()</h1>

</div>
<h2>All workouts</h2>
<div>
    <div style="width:50%; float: left">
        <table id="workouts" class="table table-bordered table-hover table-striped">
            <thead>
                <tr>
                    @*<th>Username</th>*@
                    <th>Workout</th>
                    <th>Date</th>
                    @*<th>Edit</th>
                        <th>Delete</th>*@
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
        <p>
            @Html.ActionLink("Create New", "Create", "Workouts", null, new { @class = "btn btn-primary" })
        </p>
    </div>

    <div id="pieChartContainer" style="float:left; position:relative; left: 150px; width: 50%" >
        <script type="text/javascript">
            window.onload = function () {
                CanvasJS.addColorSet("greenShades",
                    [//colorSet Array
                        "#2F4F4F",
                        "#008080",
                        "#2E8B57",
                        "#3CB371",
                        "#90EE90"
                    ]);

            var chart = new CanvasJS.Chart("pieChartContainer", {
                //title: {
                //    text: "All workouts"
                //},
                addColorSet: "greenShades",
                animationEnabled: true,
                animationDuration: 400,
                //legend: {
                //    verticalAlign: "center",
                //    horizontalAlign: "left",
                //    fontSize: 20,
                //    fontFamily: "Helvetica"
                //},
                theme: "light2",
                data: [
                    {
                        type: "pie",
                        indexLabelFontFamily: "Source Sans Pro",
                        indexLabelFontSize: 15,
                        indexLabel: " {label}",
                        startAngle: -20,
                        //showInLegend: true,
                        toolTipContent: "{label}: {y}",
                        dataPoints: @Html.Raw(ViewBag.DataPoints)
                    }
                ]
            });

            chart.render();
        };
        </script>
    </div>

</div>


@section scripts{
    <script>
        var editor
        $(document).ready(function () {

            $("#workouts").DataTable({
                ajax: {
                    url: "/api/workouts",
                    dataSrc: "",
                },
                columns: [
                    //{
                    //    data: "User.UserName"
                    //},
                    {
                        data: "WorkoutType.Name",
                        width: "55%",
                        render: function (data, type, workout) {
                            if (data === 'Gym') {
                                return "<i class='fas fa-dumbbell'></i>&nbsp&nbsp" + data;
                            }
                            if (data === 'Swimming') {
                                return "<i class='fas fa-swimmer'></i>&nbsp&nbsp" + data;
                            }
                            if (data === 'Running') {
                                return "<i class='fas fa-running'></i>&nbsp&nbsp" + data;
                            }
                            if (data === 'Home') {
                                return "<i class='fas fa-child'></i>&nbsp&nbsp" + data;
                            }
                            if (data === 'Bouldering') {
                                return "<i class='fas fa-hiking'></i>&nbsp&nbsp" + data;
                            }
                        },
                    },
                    {
                        data: "DateInString"
                    },
                    //{
                    //    data: "Id",
                    //    render: function (data, type, workout) {
                    //        return "<a href='/workouts/edit/" + data + "'>Edit</a>";
                    //    }
                    //    //render: function (data) {
                    //    //    return "<button class='btn-link'" + data + ">Edit</button>";
                    //    //}
                    //},
                    //{
                    //    data: "Id",
                    //    render: function (data) {
                    //        return "<button class='btn-link js-delete' data-workout-id=" + data + ">Delete</button>";
                    //    }
                    //},
                    {
                        data: "Id",
                        className: "center",
                        render: function (data, type, workout) {
                            return "<a href='/workouts/edit/" + data + "'><i class='far fa-edit'></i></a> <button class='btn-link js-delete' data-workout-id=" + data + '><i class="far fa-trash-alt"></i></button>';
                        },
                        width: "5%"

                    }
                ]
            });

            $("#workouts").on("click", ".js-delete", function () {
                var button = $(this);

                if (confirm("Are sure do you want to delete this workout permanently?")) {
                    $.ajax({
                        url: "/api/workouts/" + button.attr("data-workout-id"),
                        method: "DELETE",
                        success: function () {
                            button.parents("tr").remove();
                            location.reload();
                        }
                    });
                }

                //bootbox.confirm("ArUsure??????", function (result) {
                //    if (result) {
                //        $.ajax({
                //            url: "/api/workouts/" + button.attr("data-workout-id"),
                //            method: "DELETE",
                //            success: function () {
                //                table.row(button.parents("tr")).remove().draw()
                //            }
                //        });
                //    }
                //});

                //bootbox.confirm("Are sure do you want to delete this workout permanently?", function (result) {
                //    if (result) {
                //        $.ajax({
                //            url: "/api/workouts/" + button.attr("data-workout-id"),
                //            method: "DELETE",
                //            success: function () {
                //                table.row(button.parents("tr")).remove().draw()
                //            }
                //        });
                //    }
                //});
            });

        });


    </script>
}
