@model IEnumerable<WorkoutDiary.Models.Workout>
@using Microsoft.AspNet.Identity
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

<link rel="stylesheet" href="~/Content/cal-heatmap.css" />
<script type="text/javascript" src="~/Scripts/cal-heatmap.min.js"></script>


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div style="margin-left:auto; margin-top:40px; text-align:center">
    @*<h1 class="align-middle">@User.Identity.GetUserName()</h1>
        <h2>
        </h2>*@
</div>
<div class="form-group">
    <div style="width:50%; float:left">
        <table id="workouts" class="table table-bordered table-hover table-striped">
            <thead>
                <tr>
                    <th> </th>
                    <th>Workout</th>
                    <th>Date</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
        <p>
            @Html.ActionLink("Create New", "Create", "Workouts", null, new { @class = "btn btn-primary" })
        </p>
    </div>
    <div style="float:right; width: 45%; height: 470px; margin-top: 39px" class="well bs-component">
        <div id="pieChartContainer" style="margin-top: 10px">
            <script type="text/javascript">
            window.onload = function () {
                CanvasJS.addColorSet("greenShades",
                    [//colorSet Array
                        "#2F4F4F",
                        "#008080",
                        "#2E8B57",
                        "#3CB371",
                        "#90EE90"
                    ]);

            var chart = new CanvasJS.Chart("pieChartContainer", {
                title: {
                    text: "All workouts",
                    fontFamily: "Source Sans Pro",
                    margin: 50,
                    fontWeight: "normal"
                },
                addColorSet: "greenShades",
                animationEnabled: true,
                animationDuration: 300,
                backgroundColor: "transparent",
                //legend: {
                //    verticalAlign: "center",
                //    horizontalAlign: "left",
                //    fontSize: 20,
                //    fontFamily: "Helvetica"
                //},
                theme: "light2",
                data: [
                    {
                        type: "pie",
                        indexLabelFontFamily: "Source Sans Pro",
                        indexLabelFontSize: 15,
                        indexLabel: " {label}",
                        startAngle: -20,
                        //showInLegend: true,
                        toolTipContent: "{label}: {y}",
                        dataPoints: @Html.Raw(ViewBag.DataPoints)
                    }
                ]
            });

            chart.render();
        };
            </script>
        </div>
    </div>

    <div id="cal-heatmap" style="position:absolute;margin-top:630px;float:none">


    </div>
    <script type="text/javascript">
        var cal = new CalHeatMap();

        var dataArr = [];

        $.get("/api/workouts", function (data) {
            //alert("Data: " + data);
            $.each(data, function (a, b) {
                var arrayData = {};

                var wNumber = b.WorkoutType.WorkoutTypeCounter;
                var wDate = b.Timestamp;

                arrayData.date = wDate;
                arrayData.value = wNumber;

                dataArr.push(arrayData);
            });
            cal.init({
                itemSelector: "#cal-heatmap",
                data: dataArr,
                afterLoadData: parser,
                domain: "month",
                subDomain: "day",
                cellSize: 15,
                subDomainTextFormat: "%d",
                range: 12,
                domainGutter: 10,
                displayLegend: false,
                legend: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13],
                tooltip: false,
                subDomainTitleFormat: "empty"
            });
        });

        var parser = function (data) {
            var stats = {};
            for (var d in data) {
                stats[data[d].date] = data[d].value;
            }
            return stats;
        };

        /* Parser will output the object
        {
            "946702811": 15,
            "946702812": 25,
            "946702813": 10
        }*/


        var dt = new Date();
        var dataJSON = { "1609863467": 1 }
    </script>
    <div class="seperate"></div>
    <div id="test" style="position:fixed ;margin-top:800px;float:none; width: 1600px">
        <p>test-heatmap</p>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#calendar_yearview_blocks_chart_1').calendar_yearview_blocks({
                stylize_today: true
            });
        }

    </script>

    @*<div id="heatmap-demo" style="position:absolute; top: 750px;">

        </div>

        <div>
            <script type="text/javascript">
                var dataArr=[];
                //$.ajax({
                //    url: "/api/workouts",
                //    method: "GET",
                //    success: function (result) {
                //        $.each(result, function (a, b) {
                //            var arrayData = {};
                //            var wCount = b.WorkoutTypeId;
                //            var wDate = b.DateInString;

                //            arrayData.count = wCount;
                //            arrayData.date = wDate;

                //            dataArr.push(arrayData);
                //        });
                //    }
                //});


                $.get("/api/workouts", function (data) {
                    //alert("Data: " + data);
                    $.each(data, function (a, b) {
                        var arrayData = {};

                        var wCount = b.WorkoutTypeId;
                        var wDate = b.DateInString;

                        arrayData.count = wCount;
                        arrayData.date = wDate;

                        dataArr.push(arrayData);

                    });
                    $.each(dataArr, function (a, b) {
                        console.log(b)
                    });
                });

                $("#heatmap-demo").CalendarHeatmap(dataArr,
                    {
                // title of the calendar heatmap
                title: null,

                        // the number of months to display
                        months: 12,

                        // last month
                        lastMonth: moment().month() + 1,

                        // last year
                        lastYear: moment().year(),

                        // color gradients
                        coloring: "teal",

                        // custom labels
                        labels: {
                    days: false,
                            months: true,
                            custom: {
                        weekDayLabels: null,
                                monthLabels: null
                            }
                    },

                        // custom legend
                        legend: {
                    show: false,
                            align: "right",
                            minLabel: "Less",
                            maxLabel: "More"
                        },

                        // custom tooltips
                        // requires <a href="https://www.jqueryscript.net/tags.php?/Bootstrap/">Bootstrap</a>
                        tooltips: {
                    show: false,
                            options: {}
                    }
                });



            </script>
        </div>*@
</div>



@section scripts{
    <script>
           var editor;
            $(document).ready(function () {
                $("#workouts").DataTable({
                    ajax: {
                        url: "/api/workouts",
                        dataSrc: "",
                    },
                    order:[2,'desc'],
                    columns: [
                        {

                            orderable: false,
                            data: "WorkoutType.IconString",
                            width: "2%",
                            render: function (data, type, workout) {
                                return "<i class='"+data+"'></i>"
                            },
                        },
                        {
                            data: "WorkoutType.Name",
                            
                            //width: "55%",
                            //render: function (data, type, workout) {
                            //    if (data === 'Gym') {
                            //        return "<i class='fas fa-dumbbell'></i>&nbsp&nbsp" + data;
                            //    }
                            //    if (data === 'Swimming') {
                            //        return "<i class='fas fa-swimmer'></i>&nbsp&nbsp" + data;
                            //    }
                            //    if (data === 'Running') {
                            //        return "<i class='fas fa-running'></i>&nbsp&nbsp" + data;
                            //    }
                            //    if (data === 'Home') {
                            //        return "<i class='fas fa-child'></i>&nbsp&nbsp" + data;
                            //    }
                            //    if (data === 'Bouldering') {
                            //        return "<i class='fas fa-hiking'></i>&nbsp&nbsp" + data;
                            //    }
                            //    else {
                            //        return "<i class='fas fa-male'></i>&nbsp&nbsp" + data;
                            //    }
                            //},
                        },
                        {
                            data: "DateInString"
                        },
                        //{
                        //    data: "Id",
                        //    render: function (data, type, workout) {
                        //        return "<a href='/workouts/edit/" + data + "'>Edit</a>";
                        //    }
                        //    //render: function (data) {
                        //    //    return "<button class='btn-link'" + data + ">Edit</button>";
                        //    //}
                        //},
                        //{
                        //    data: "Id",
                        //    render: function (data) {
                        //        return "<button class='btn-link js-delete' data-workout-id=" + data + ">Delete</button>";
                        //    }
                        //},
                        {
                            data: "Id",
                            className: "center",
                            render: function (data, type, workout) {
                                return "<a href='/workouts/edit/" + data + "'><i class='far fa-edit'></i></a> <button class='btn-link js-delete' data-workout-id=" + data + '><i class="far fa-trash-alt"></i></button>';
                            },
                            width: "12%",
                            orderable: false
                        }
                    ]
                });

                $("#workouts").on("click", ".js-delete", function () {
                    var button = $(this);

                    if (confirm("Are your sure do you want to delete this workout permanently?")) {
                        $.ajax({
                            url: "/api/workouts/" + button.attr("data-workout-id"),
                            method: "DELETE",
                            success: function () {
                                button.parents("tr").remove();
                                location.reload();
                                toastr.success("Successfully deleted!");
                            }
                        });
                    }

                    //bootbox.confirm("ArUsure??????", function (result) {
                    //    if (result) {
                    //        $.ajax({
                    //            url: "/api/workouts/" + button.attr("data-workout-id"),
                    //            method: "DELETE",
                    //            success: function () {
                    //                table.row(button.parents("tr")).remove().draw()
                    //            }
                    //        });
                    //    }
                    //});

                    //bootbox.confirm("Are sure do you want to delete this workout permanently?", function (result) {
                    //    if (result) {
                    //        $.ajax({
                    //            url: "/api/workouts/" + button.attr("data-workout-id"),
                    //            method: "DELETE",
                    //            success: function () {
                    //                table.row(button.parents("tr")).remove().draw()
                    //            }
                    //        });
                    //    }
                    //});
                });

            });


    </script>
}
