@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Workout diary</h1>
    <p class="lead">This tool is for tracking workouts.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Tracking workouts</h2>
        <p>
            This tool is for tracking workouts
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>  
</div>